*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2980b9;
}
.passwordGenerator{
    max-width: 600px;
    border: black solid 3px;
    background-color: #fff;
    margin: 160px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}
.passwordGenerator h2{
    margin-bottom: 20px;
    text-align: center;
    color: #2980b9;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
}
 .input-group,.checkbox-group,.generate-password{
    margin-bottom: 15px;
}
.checkbox-group{
    display: flex;
    align-items: center;
} 
.checkbox-group input{
    margin-right: 5px;
}
.input-group  label{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;

} 

input [type='number']{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
}
.generatebtn{
    padding: 10px 15px;
    background-color: #2980b9;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.generate-password{
    margin-top: 10px;
    display: flex;
    border: 5px solid #fff;
    border-radius: 4px;
    outline: none;
}
 input[type="text"]{
    padding: 10px;
    flex: 1;    
    outline: none;
    
} 
.copy-btn{
    border: none;
    padding: 5px;
    background-color: green;
    color: #fff;

}